<%- include("../../partials/template") %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Projects View</h6>
                        <div class="dropdown no-arrow">
                            <a href="/project_entry" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                title="Add New">Add New
                                <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                            </a>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Project Id</th>
                                        <th>Project Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Project Id</th>
                                        <th>Project Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% projects.forEach((data)=> {
                                        %>
                                        <tr>
                                            <td>
                                                <%= data.project_code; %>
                                            </td>
                                            <td>
                                                <%= data.name; %>
                                            </td>
                                            <td><a class="btn btn-info btn-circle" data-toggle="tooltip"
                                                    data-placement="top" title="Edit"
                                                    href="/edit_project?id=<%=data.project_code; %>"><i
                                                        class="fas fa-pencil-alt"></i></a>
                                            </td>
                                            <td><a class="btn btn-danger btn-circle" data-toggle="tooltip"
                                                    data-placement="top" title="Delete"
                                                    href="/delete_project?id=<%=data.project_code; %>"
                                                    onclick="return check();"><i class="fas fa-trash"></i></a></td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") %>

        <script>
            function check() {
                var x = confirm("Are you sure you want to delete?");
                if (x)
                    return true;
                else
                    return false;
            }
        </script>