<%- include("../../partials/template") %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Employe Entry</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form action="/profile_update" class="user" method="POST">
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="emp_id">Emp ID</label>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" id="emp_id" name="emp_id"
                                        placeholder="Employe ID" value="<%= user_data.emp_code; %>" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="name">Name</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Employe Name" value="<%= user_data.name; %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="name">Email</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email Address" value="<%= user_data.email; %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="name">Phone Number</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="phone" name="phone"
                                        placeholder="Phone Number" value="<%= user_data.number; %>">
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <label for="image">Profile Image</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="file" class="form-control" id="image" name="image">
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer") %>